@model Tasks.App.Models.ContextIndexModel

@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>

<div>

    <ul>
    @foreach(var task in Model.Tasks)
    {
        <li>@Html.ActionLink("X", "CompleteTask", "Tasks", new { id = task.TaskId }, null) - @task.Title
        
        @foreach(var context in Model.OtherContexts)
        {
            <span>[@Html.ActionLink("> "+context.Name, "MoveTaskToContext", "Tasks", new { targetContextId = context.ContextId, taskId = task.TaskId, fromContextId = task.ContextId }, null)]</span>
        }
        </li>
    }
    </ul>

</div>


@Html.ActionLink("Create task", "Create", "Tasks")

<h2>Notes</h2>

<div>

    <ul>
    @foreach(var note in Model.Notes)
    {
        <li>@note.Title - @note.DescriptionHtml @Html.ActionLink("[Edit]", "EditDescription", "Notes", new { id = note.NoteId }, null)</li>
    }
    </ul>

</div>


@Html.ActionLink("Create note", "Create", "Notes")