@model Tasks.App.Models.ContextIndexModel

@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>

<div>

    <ul>
    @foreach(var task in Model.Tasks)
    {
        <li>@task.Title - @Html.ActionLink("Complete", "CompleteTask", "Tasks", new { id = task.TaskId }, null)</li>
    }
    </ul>

</div>


@Html.ActionLink("Create task", "Create", "Tasks")

<h2>Notes</h2>

<div>

    <ul>
    @foreach(var note in Model.Notes)
    {
        <li>@note.Title - @note.Description</li>
    }
    </ul>

</div>


@Html.ActionLink("Create note", "CreateNote", "Tasks")