@model Tasks.App.Models.TasksIndexModel

@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>

<div>

    <ul>
    @foreach(var task in Model.Tasks)
    {
        <li>@task.Title</li>
    }
    </ul>

</div>


@Html.ActionLink("Create task", "Create")

<h2>Notes</h2>

<div>

    <ul>
    @foreach(var note in Model.Notes)
    {
        <li>@note.Item1 - @note.Item2</li>
    }
    </ul>

</div>


@Html.ActionLink("Create note", "CreateNote")